.container {
  background: white;
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 3px;
}

.cells {
  background-color: #242424;
  display: flex;
  justify-content: center;
  padding-top: 5px;
  font-size: 4em;
  user-select: none;
}

.choose__sign {
  display: flex;
  column-gap: 50px;
  & div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    background: black;
    font-size: 1.7em;
    cursor: pointer;
  }
}

.win{
  & div{
    font-size: 1.5em;
  }
  & p{
    margin-top: 40px;
    background: black;
    text-align: center;
    padding: 10px 0;
    color: white;
    cursor: pointer;
  }
}
